.header {
  background-color: $color-dark;
  color: #FFFFFF;

  &__page {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }

  &__body {
    @include onDesktop {
      display: flex;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 26px;
  }

  &__nav {
    display: none;

    @include onDesktop {
      display: flex;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 22px;
    list-style: none;
  }

  &__item {
    @include hover(transform, scale(0.9));
  }

  &__link {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 19.2px;
    letter-spacing: 0.05em;
    @include hover(transform, scale(1.2));
  }

  &__search {
    box-sizing: border-box;
    width: 40px;
    height: 44px;
    border-radius: 16px;
    border: 1px solid $green-color;
    
    background-image: url(../images/header/search.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-color: inherit;

    @include hover(transform, scale(1.1));
  }

  &__login {
    box-sizing: border-box;
    width: 102px;
    height: 44px;
    border-radius: 16px;
    border: 1px solid $green-color;
    color: $green-color;
    background-color: inherit;

    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.05em;

    @include hover(transform, scale(1.1));
  }

  &__login-block {
    display: flex;
    gap: 20px;
  }

  &__line {
    background-image: url('../images/header/line.svg');
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 22px;
  }

  &__title {
    align-self: start;
    margin-top: 77px;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0.05em;

    @include onDesktop {
      margin-top: 0;
    }
  }

  &__text {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.05em;

    margin-bottom: 40px;
  }

  &__logo {
    @include hover(transform, scale(1.2));
  }

  &__apply-button {
    background-color: $green-color;
    width: 259px;
    height: 52px;
    padding: 16px 32px 16px 32px;
    border-radius: 16px;
    border: 0;
    margin-bottom: 50px;

    @include hover(transform, scale(1.2));
  }

  &__text-bottom {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.05em;
  }

  &__icons {
    display: flex;
    flex-direction: column;
    row-gap: 70px;
    margin-top: 20px;

    @include onDesktop {
      margin-top: 20px;
      flex-direction: row;
      align-items: center;
      column-gap: 60px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__icon-block {
    display: flex;
    justify-content: space-around;

    @include onDesktop {
      flex-direction: row;
      align-items: center;
      column-gap: 60px;
    }
  }

  &__image {
    @include onDesktop {
      background-image: url(../images/header/header-image.svg);
      width: 908px;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }

  &__main {
    @include onDesktop {
      margin-top: 140px;
      margin-left: 10%;
    }
  }
}